<h1>Detalhes de <%= @warehouse["code"] %> - <%= @warehouse["name"] %></h1>
<div>
  <p><%= @warehouse["city"] %> - <%= @warehouse["state"] %></p>
  <p><%= @warehouse["area"] %> m²</p>
  <p><%= @warehouse["address"] %> - CEP <%= @warehouse["postal_code"] %></p>
  <p><%= @warehouse["description"] %></p>
</div>